* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo {
    width: 7%;
    height: 7%;
}

     .card-img-top {
            height: 360px; /* Đặt chiều cao cố định */
            object-fit: cover; /* Đảm bảo hình ảnh vừa khung và không bị biến dạng */
        }

.cart_img{
    width: 50px;
    height: 50px;
}